

body {
    background-color: rgb(38, 0, 128);
    font-family: 'Rubik', sans-serif;
    color: whitesmoke;
    margin-left: 0;
}

.answer-li {
    margin: 20px;
    font-size: 24px;
}

.answer-button {
    width: 80%;
    text-align: left;
    padding: 10px;
    background-color: deepskyblue;
    color: whitesmoke;
    border: 0px;
    border-radius: 5px;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    margin-left: 20px
}

.answer-button:hover {
    background-color: dodgerblue;
    cursor: pointer;
}

#resetButton {
    padding: 10px;
    background-color: deepskyblue;
    color: whitesmoke;
    border: 0px;
    border-radius: 5px;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
}

#resetButton:hover {
    background-color: dodgerblue;
    cursor: pointer
}

.questioncontainer {
    margin: 20px;
    transition: all 500ms
   
}

#end-container {
    margin: 40px 100px 100px 100px;
    transition: all 500ms
}

#end-container h3 {
    margin: 40px 0 ;
}

#status-container {
    margin-top: 60px;
    width: 100%;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0%;
    z-index: 10;
    opacity: 0.75;
    background-color: rgb(38, 0, 128);
}

.status-bar-segment {
    width: 80px;
    height: 5px;
    background-color: white;
    
}